{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Sistema Inventario Botica Central{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_custom.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
{% endblock %}

{% block branding %}
<div class="brand-container">
    <img src="{% static 'img/logo.png' %}" alt="Botica Central" height="40">
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">Sistema de Inventario</a>
    </h1>
</div>
{% endblock %}

{% block footer %}
<div id="footer">
    <CENTER><p>&copy; 2025 Botica Central - Sistema de Inventario v1.0</p></CENTER>
</div>
{% endblock %}